:root {
    --verde: #00ff00;
    --verdeSombra: #007f00;
}

body {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;

    background-color: black;
    color: white;
}

header {
    padding: 15px 0;
    font-weight: 500;
    box-shadow: 0px 0px 30px 5px rgba(0, 0, 0, 0.10);
}

.headerContent {
    max-width: 960px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header a {
    text-shadow: 0px 2px 1px rgba(0, 0, 0, 0.5);
    padding: 10px 0;
    border-bottom: 3px solid transparent;
}

header a:hover {
    color: var(--verde);
    border-bottom: 3px solid var(--verde);
}

header .home a {
    display: flex;
    align-items: center;
}

header .menu a {
    margin-left: 10px;
}

.logoHome {
    height: 40px;
    margin-right: 10px
}

main {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    gap: 20px;
}

footer {
    font-weight: 400;
    letter-spacing: 2px;
    padding: 20px;
    margin-top: auto;
    text-align: center;
    font-weight: 400;
    font-size: 1em;
}

footer a:hover {
    color: var(--verde);
    cursor: pointer;
}

@-webkit-keyframes rotate {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes rotate {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}